@import 'normalize.css';

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: local(Inter),
        url(./assets/Inter-VariableFont_opsz_wght.woff) format(woff);
}

* {
    font-family: 'Inter';
}
